<div class="py-3 bg-danger text-center text-white mb-2">
  <h3>Learning Java by Doing Quiz</h3>
</div>
<div class="row" *ngIf="quiz">
    <div class="col-md-8">

       <form #f="ngForm" (ngSubmit)="submitQuiz(f)">
          <div class="form-group" *ngFor="let question of quiz.questions;index as i">
            <h5>{{i+1}}. {{question.qdata}}</h5>
            <div *ngFor="let option of question.options;index as c">
                <input type="radio" name="{{i+1}}"  #options="ngModel" value="{{c+1}}" ngModel>&nbsp;{{option}}
            </div>
          </div>
          <button class="btn btn-primary">Submit</button>
       </form>

    </div>
    <div class="col-md-4" *ngIf="result">
        <div class="box">
          {{result.percentage}} %
        </div>
    </div>
</div>
